@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "work sans", "sans-serif";
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared style */

main {
    max-width: 1440px;
    margin: 0 auto;
}

main > section {
    margin-top: 130px;
}

.display-flex {
    display: flex;
}

.text-gray {
    color: #424242;
}

.dark-light-gray {
    color: #727272;
}

.bg-light {
    background: rgba(255, 144, 14, 0.1);
}

.primary-btn {
    background-color: #ff900e;
    color: #ffffff;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: capitalize;
    border: none;
    border-radius: 8px;
}

.primary-btn a {
    text-decoration: none;
    color: #ffffff;
}

/* header style */

/* navbar related style */

.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-weight: bold;
    font-size: 2.8rem;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.banner img {
    width: 100%;
}

/* banner related style  */

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-description {
    font-size: 1rem;
    padding-bottom: 20px;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.fact-card {
    border: 1px solid #ff900e;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 5px;
}
/* team-feature related style  */
.team {
    text-align: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features {
    margin-left: 130px;
    max-width: 530px;
    text-align: left;
}

.span {
    display: block;
    color: #ff900e;
}

.feature-description {
    font-size: 1.2rem;
}

#quick-list {
    font-weight: 500;
}

/* feature section style */

.feature {
    gap: 140px;
}

#feature-section-title {
    border-left: 5px solid #ff900e;
    padding-left: 20px;
}

.feature-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0;
}

.feature-card {
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    padding: 30px;
}

/* sponsor  */

.fact-description {
    max-width: 540px;
}

.sponsors-info {
    max-width: 540px;
    margin: 50px auto;
}

.sponsor-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img {
    filter: grayscale(100%);
}

/* responsive media query */

@media screen and (max-width: 576px) {
    .nav-link, .navbar, .team {
        flex-direction: column;
    }

    .team-img-container, .facts-container, .sponsor-companies {
        grid-template-columns: repeat(1, 1fr);
    }

    .facts-container, .sponsor-companies {
        justify-items: center;
        gap: 24px;
    }
 
    .sponsor-companies {
        justify-items: center;
        gap: 4rem;
    }

    .our-features {
        max-width: 100%;
        margin-left: 0.5rem;
    }
}

/* medium size device */

@media screen and (min-width: 577px) and (max-width: 993px) {
    .team {
        flex-direction: column;
    }

    .our-features {
        margin: 50px auto;
    }

    .sponsor-companies, .facts-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }

    
}